body {
	font-size: 16px;
	margin: 0px auto;
	/*Requerimiento del cliente*/
	min-width: 1078px;
	max-width: 1078px;
}
header input{
	float: right;
	margin-right: -250px;
	margin-top: 15px;
	position: relative;
}
header nav {
	margin-left: 220px;
}
header nav ul li {
	border-bottom: 1px solid lightgray;
	color: lightgray;
	display: inline-block;
	font-size:1.8em;
	margin-right: 15px;
	padding-bottom: 2px;
	/*text-decoration: underline;*/
}
#bg_offer{
	left: -35px;
	position: relative;
	top: -410px;
}
#footerSeccion{
margin-left: 750px;
margin-top: -150px;
}
#footerSeccion img{
display: inline-block;
}
#granthams {
	margin-left: 25px;
	margin-top: 25px;

}
#paint {
	float: right;
}
#primerSeccion {
	height: 318px;
	margin-top: 60px;
}
#primerSeccion article{
 display: inline-block;
 vertical-align: top;
}
#seccion01art01 {
	margin-left: 30px;
	width: 60%;
}
#seccion01art02 {
	margin-left: 50px;
	width: 30%;
}
#seccion03art04{
padding-top: 40px;
}
#segundaSeccion article{
text-align: right;
padding-right: 122px;
}
#tercerSeccion article{
	display: inline-block;
	vertical-align: top;
	width: 23%;
}
#tercerSeccion article img{
	vertical-align: middle;
}
#tercerSeccion article input {
	border-radius: 5px;
}
#tercerSeccion article input[type="button"]{
	background: #8BC500;
	color: white;
}
#seccion01art02 ul {
	list-style: none;
	margin-left: -40px;
}
#seccion01art02 ul li:before{
	content: "•";
	color: #FF0099;
}
.colorazul{
	color: #4267b3;
}
.colorrosa{
	color: #FF0099;
}
.colorverde{
	color:#8bc500;
}
.letramediana{
	font-size: 2em;
}
.letragrande{
	font-size: 3.5em;
}
.nito{
	font-weight: bold;
}